#pacer {
	width:500px;
	height: 500px;
	min-width:100px;
	min-height: 100px;
	margin:0 auto;
	margin-top:15%;
	border-radius: 50%;
    background: linear-gradient(to top, #a1cce2 50%, #2d80ab 50%);
    background-size: 100% 200%;
	
}
.moving{
	animation: slide 12s linear infinite;
}
#beep{
	visibility: hidden;
}
@keyframes slide {	
	0% {background-position:top;}
	25% {background-position:bottom;}
	50% {background-position:bottom;}
	75% {background-position:top;}
	100% {background-position:top;}
  }

  #counter{
	  font-family: Arial, Helvetica, sans-serif;
	  color:#2d80ab;
	  font-size: 16em;
	  font-display: bold;
	  position: fixed;
	  bottom:25px;
	  left:25px;
  }
  .buttons{
	position: fixed;
	bottom:25px;
	left:25px;
	text-align: right;
}
	button{
		display: block;
	}
  
